<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Оптимизация доставки</title>
  <link rel="stylesheet" href="/dilevery_project/static/style.css">
</head>
<body>
  <div class="container">
    <aside class="sidebar">
      <h2>Доставка+</h2>
      <nav>
        <a href="#">Заказы</a>
        <a href="#">Курьеры</a>
        <a href="#">Маршруты</a>
        <a href="#">Аналитика</a>
      </nav>
    </aside>

    <main class="content">
      <header class="topbar">
        <input type="date">
        <select>
          <option>Все заказы</option>
          <option>В процессе</option>
          <option>Доставлено</option>
        </select>
      </header>

      <section class="map">
        <p>Здесь будет карта (Leaflet / Google Maps)</p>
      </section>

      <section class="orders">
        <h3>Заказы</h3>
        <ul>
          <li>#101 – пр. Абая 25 – Статус: В пути</li>
          <li>#102 – ул. Назарбаева 10 – Статус: В обработке</li>
          <li>#103 – ул. Сатпаева 7 – Статус: Доставлено</li>
        </ul>
      </section>
    </main>
  </div>
</body>
</html>
